<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="wbcomwhatsapp" showInDefault="1" showInWebsite="1" showInStore="1" type="text" translate="label" sortOrder="100">
            <label>Wbcom Whatsapp Chat</label>
            <tab>wbcomcore</tab>
            <resource>Wbcom_Whatsapp::wbcom_cofig</resource>
            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30">
                <label>General Settings</label>
                <field id="enable" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_mobile" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Chat For Mobile View</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Visible whatsapp chat icon for mobile view.</comment>
                </field>
                <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Pop-Up Header Title</label>
                    <comment>Header title for chat pop-up.</comment>
                </field>
                <field id="greeting_message" translate="label" type="textarea" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Greeting Message</label>
                    <comment>Greeting message to visitors on chat pop-up.</comment>
                </field>
                <field id="message" translate="label" type="textarea" sortOrder="4" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Default Message</label>
                    <comment>Default message, delivered by customer to Website owner.</comment>
                </field>
                <field id="mobile_no" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Add Phone Number</label>
                    <comment>Add mobile number with country code (for exp: +918841526341)</comment>
                </field>
                <field id="whatsapp_icon" translate="label comment" type="image" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>WhatsApp Icon</label>
                    <backend_model>Wbcom\Whatsapp\Model\Config\Backend\Image</backend_model>
                    <base_url type="media" scope_info="1">whatsapp</base_url>
                </field>
            </group>
            <group id="popup" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="200">
                <label>PopUp Color</label>
                <field id="header_back" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Header Top Color</label>
                    <comment><![CDATA[Header Top Color]]></comment>
                    <frontend_model>Wbcom\Whatsapp\Block\Color</frontend_model>
                </field>
                <field id="field_inner" translate="label" type="text" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Form Fields Inner Color</label>
                    <comment><![CDATA[Inner Field Color]]></comment>
                    <frontend_model>Wbcom\Whatsapp\Block\Color</frontend_model>
                </field>
                <field id="btn_color" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Button Color</label>
                    <comment>Start Chat Button Color</comment>
                    <frontend_model>Wbcom\Whatsapp\Block\Color</frontend_model>
                </field>
            </group>
            <group id="icon" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="250">
                <label>Icon SetUp</label>
                <field id="icon_position" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Icon Position</label>
                    <source_model>Wbcom\Whatsapp\Model\Config\Source\ListMode</source_model>
                    <comment>Set whatsapp icon position left or right sidebar of screen.</comment>
                </field>
                <field id="icon_position_bottom" translate="label" type="text" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Icon Position From Bottom</label>
                    <comment>Manage icon position from bottom.(For exp 50px.)</comment>
                </field>
                <field id="icon_position_right" translate="label" type="text" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Icon Position From Right</label>
                    <comment>Manage icon position from right.(For exp 20px.)</comment>
                </field>
                <field id="icon_position_left" translate="label" type="text" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Icon Position From Left</label>
                    <comment>Manage icon position from left.(For exp 10px.)</comment>
                </field>
            </group>
        </section>
    </system>
</config>
